*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Figtree", sans-serif;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0px;
    justify-content: center;
    align-items: left;
    background-color: #f5d04e;
    font-family: "Figtree", sans-serif;
   
}
.container{
    background-color:black;
    width: 388px;
    height:477px;
    border-radius: 20px;
    margin-top: 16rem;
    margin-left: -9rem;

}
.page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15.5rem;
    margin-bottom: 0rem;
    font-family: "Figtree", sans-serif;
    }

.card{
    background-color: white;
    width: 390px;
    height: 480px;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
    border-radius: 20px;
    box-shadow: 30px;   
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: black;
    margin-right: 10rem;

    
}

.image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-top: 1rem;
    
}

.content {
    padding: 10px;
}
.content p{
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 500;
    color: rgb(92, 85, 85);
    margin-right: 1.8rem;
    margin-left: -0.6rem;
    line-height: 23px;
}
.content h3{
    padding-top: 1rem;
    margin-left: -0.6rem;
    font-weight: bolder;
}
.content button{
    padding: 6px 10px;
    font-family: "Figtree", sans-serif;
    font-weight: bold;
    background-color: #f5d04e;
    border: none;
    border-radius: 4px;
    margin-left: -0.6rem;
    margin-top: 0.5rem;
}
.content .text{
    color: black;
    font-size: 12px;
}
    
.user{
   display: flex;
   gap: 10px;
   margin-right: 10rem;
   margin-bottom: 1rem;
}
.user img{
    display: flex;
    width: 16%;
    height: auto; 
}
.user p{
  font-size: bold;
  font-weight: bold;
  margin-top: 0.3rem;
}